.sencha
classic
cmd
examples
licenses
modern
packages
resources
sass
templates
test
welcome
build.xml
ext-bootstrap.js
index.html
index.js
license-include.txt
license.txt
package.json
readme.md
release-notes.html
version.properties

!build/*